<h1> Login </h1>

<div class="container">
    <div class="formulario">
        <form action="/api/users/login" method="POST" class="row g-3 col-md-8 col-lg-6 formulario_fondo">

    <label for="email">Email: </label>
    <input type="email" name="email" required>
    <br><br>

    <label for="password">Password:</label>
    <input type="password" name="password" required>
    <br><br>

    <button type="submit"> Login </button>
<div>
   <a href="/api/users/github">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/Github-desktop-logo-symbol.svg/128px-Github-desktop-logo-symbol.svg.png" alt="GitHub Logo">
    </a>
</div>
</form>


    </div>
</div>